.page-title {
    text-align: center;
    font-size: 50px;
    color:aqua;
}

.page-subtitle {
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
    color: chocolate;
}

.verse {
    display: flex;
    justify-content: center;
}
.chorus {
    display: flex;
    justify-content: center;
    padding-left: 95px;
}